fastapi==0.115.11
uvicorn==0.34.0
SQLAlchemy==2.0.38
alembic==1.15.1
itsdangerous==2.2.0
Jinja2==3.1.6
python-multipart==0.0.20
httpx==0.28.1




# netstat -ano | findstr :8000
# taskkill /PID 14796 /F