{% extends "base.html" %}
{% block content %}
<div class="container" style="margin-top: 30px;">
    <form class="form-group" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="pass_confirm">Confirm Password</label>
            <input type="password" name="pass_confirm" class="form-control" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>

    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>
                    {% if 'loc' in error %}
                        {{ error['loc'][0] }}: {{ error['msg'] }}
                    {% else %}
                        {{ error['msg'] }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}



