{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Stocks list</h1>
  </div>

    <table class="table table-striped" id="stock-table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Outstanding Shares</th>
                <th>LTP</th>
                <th>Open Price</th>
                <th>High Price</th>
                <th>Low Price</th>
                <th>Market Cap</th>
                <th>Traded Time</th>
            </tr>
        </thead>
        <tbody id="stock-table-body">
            <!-- Data will be inserted here dynamically -->
        </tbody>
    </table>

    <script>
        let userId = "{{ session_user_id }}";
        let socket = new WebSocket("ws://localhost:8000/ws/stocks/" + userId);
    
        socket.onopen = function(event) {
            console.log("WebSocket connected!");
        };
        
        socket.onerror = function(event) {
            console.error("WebSocket error:", event);
        };
        
        socket.onmessage = function(event) {
            console.log("Message received:", event.data);
        };
    
        socket.onmessage = function(event) {
            let stocks_data_from_consumers = JSON.parse(event.data);
            let tableBody = document.getElementById("stock-table-body");
            tableBody.innerHTML = "";
    
            stocks_data_from_consumers.forEach(stock => {
                let row = `<tr>
                    <td>${stock.Company_Name}</td>
                    <td>${stock.Outstanding_Shares}</td>
                    <td>${stock.LTP}</td>
                    <td>${stock.Price_Open}</td>
                    <td>${stock.high}</td>
                    <td>${stock.low}</td>
                    <td>${stock.Marketcap}</td>
                    <td>${new Date(stock.traded_time).toLocaleTimeString()}</td>
                </tr>`;
                tableBody.innerHTML += row;
            });
        };
    </script>
    
{% endblock %}
 