{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Stocks List</h1>
  </div>

    <div style="text-align: center; margin-bottom: 20px;">
        {% if page > 1 %}
        <a href="{{ url_for('stocks') }}?page={{ page-1 }}">Previous</a>
        {% endif %}
        <span> Page {{ page }} of {{ total_pages }} </span>
        {% if page < total_pages %}
        <a href="{{ url_for('stocks') }}?page={{ page+1 }}">Next</a>
        {% endif %}
    </div>

    <table class="table table-striped" id="stock-table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Outstanding Shares</th>
                <th>LTP</th>
                <th>Open Price</th>
                <th>High Price</th>
                <th>Low Price</th>
            </tr>
        </thead>
        <tbody id="stock-table-body">
            <!-- Initially rendering database stocks -->
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.company_name }}</td>
                <td>{{ stock.outstanding_shares }}</td>
                <td>{{ stock.ltp }}</td>
                <td>{{ stock.price_open }}</td>
                <td>{{ stock.high }}</td>
                <td>{{ stock.low }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="text-align: center">
        {% if page > 1 %}
        <a href="{{ url_for('stocks') }}?page={{ page-1 }}">Previous</a>
        {% endif %}
        <span> Page {{ page }} of {{ total_pages }} </span>
        {% if page < total_pages %}
        <a href="{{ url_for('stocks') }}?page={{ page+1 }}">Next</a>
        {% endif %}
    </div>


{% endblock %}
 